<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/demo.js"></script>
</head>
<body>
    <form action="/login" method="post">
        <!--阻止跨域请求/login,形象比喻：设置隐藏标识牌、凭证-->
        <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
        用户名：<input type="text" name="myusername"><br>
        密  码：<input type="password" name="mypassword"><br>
        记住我: <input type="checkbox" name="remember-me" value="true"/> <br/>
        <input type="submit" value="提交">
    </form>
</body>
</html>